div.stars {
    width: 270px;
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: rgb(29, 145, 199);
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: rgb(98, 216, 20);
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: rgb(235, 178, 20);
    text-shadow: 0 0 20px rgb(18, 166, 235);;
  }
  
  input.star-1:checked ~ label.star:before { color: rgb(7, 133, 236); }
  
  label.star:hover { transform: rotate(-30deg) scale(1.5); }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }