
<div class="row">
    <!-- header started -->
    <div class="col-md-12 col-sm-12 col-xs-12 bord-btm-nav">
        <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
            @*<a href="index.html"><img src="~/WebsiteImages/images/logo.png" alt="images" class="logo_mar"></a>*@
            <a href="#"><img src="~/Images/diocon-logo-web.png" class="logo_mar" style="height:41px;"> <span class="clr-white">DIOCON SOF</span></a>
        </div>
        <div class="header-right col-sm-9 pad-no">
            <div class="col-sm-9 pad-no mar-top-ten">
                <div class="radio">
                    <input id="demo-inline-form-radio" class="magic-radio" type="radio" name="inline-form-radio" checked>
                    <label for="demo-inline-form-radio">Engilsh</label>

                    <input id="demo-inline-form-radio-2" class="magic-radio" type="radio" name="inline-form-radio">
                    <label for="demo-inline-form-radio-2">Italian</label>

                    <input id="demo-inline-form-radio-3" class="magic-radio" type="radio" name="inline-form-radio">
                    <label for="demo-inline-form-radio-3">Spanish </label>

                    <input id="demo-inline-form-radio-4" class="magic-radio" type="radio" name="inline-form-radio">
                    <label for="demo-inline-form-radio-4">French </label>

                    <input id="demo-inline-form-radio-5" class="magic-radio" type="radio" name="inline-form-radio">
                    <label for="demo-inline-form-radio-5">German</label>

                    <input id="demo-inline-form-radio-6" class="magic-radio" type="radio" name="inline-form-radio">
                    <label for="demo-inline-form-radio-6">Russian</label>

                </div>
            </div>
            <div class="col-sm-3 pad-no">
                <div id="userbox" class="userbox pull-right">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            @*<img src="assets/images/!logged-user.jpg" alt="" class="img-circle" />*@
                            <img src="~/css/assets/images/!logged-user.jpg" alt="" class="img-circle" />
                        </figure>
                        <div class="profile-info" data-lock-name="" data-lock-email="">
                            <span class="name">Raja</span>
                            <span class="role">administrator</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-user-profile.html">
                                    <i class="fa fa-user"></i>
                                    My Profile
                                </a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-signin.html">
                                    <i class="fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

