@model Generalate.Models.Tbl_Cong
@using Generalate.Controllers;
@{
    ViewBag.Title = "CommunityInstitution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var viewpermissions = Session["TopmenuPermission"] as List<Generalate.Models.Tbl_TopMenuPermission>;
}

<div class="modal fade" id="myModal3" style="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:60px;">
        <div class="modal-content" style="width:1050px;">
            <div class="modal-header">
                <button type="button" id="manageClose" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span>@{@HomeController.GetControlTextByControlId("Community");}</span></h4>
            </div>
            <div class="modal-body form-group" >
                <div class="row" style="margin-top:20px; margin-right:10px;">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="TblPersionalDetails"> 
                            @try
                            {
                                <tr><h4 style="color:#009be1"><span>@{@HomeController.GetControlTextByControlId("Community");}</span></h4></tr>
                                <tr>
                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("District/Sector/Region");}</span></th>
                                    <td style="width:30%"><span id="DisSecRegCommunity"></span></td>
                                    <th><span>@{@HomeController.GetControlTextByControlId("Community_Code");}</span></th>
                                    <td><span id="CommunityCodeCommunity"></span></td>
                                </tr>
                                <tr>
                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Community_Name");}</span></th>
                                    <td style="width:30%"><span id="CommunityNameCommunity"></span></td>
                                    <th><span>@{@HomeController.GetControlTextByControlId("Place");}</span></th>
                                    <td><span id="PlaceCommunity"></span></td>
                                </tr>
                                <tr>
                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Phone");}</span></th>
                                    <td style="width:30%"><span id="PhoneCommunity"></span></td>
                                    <th><span>@{@HomeController.GetControlTextByControlId("Country");}</span></th>
                                    <td><span id="CountryCommunity"></span></td>
                                </tr>
                                <tr>
                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Email");}</span></th>
                                    <td style="width:30%"><span id="EmailCommunity"></span></td>
                                    <th><span>@{@HomeController.GetControlTextByControlId("Active/Inactive");}</span></th>
                                    <td><span id="ActiveCommunity"></span></td>
                                </tr>
                                <tr>
                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Diocese_Name");}</span></th>
                                    <td style="width:30%"><span id="DioceseNameCommunity"></span></td>
                                    <th><span>@{@HomeController.GetControlTextByControlId("Activities");}</span></th>
                                    <td><span id="ActivitiesCommunity"></span></td>
                                </tr>
                                <tr>
                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Address");}</span></th>
                                    <td style="width:30%"><span id="AddressCommunity"></span></td>
                                    <th><span>Vision</span></th>
                                    <td><span id="VissionCommunity"></span></td>
                                </tr>
                                <tr>
                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Mission");}</span></th>
                                    <td style="width:30%"><span id="MissionCommunity"></span></td>
                                    <th><span>@{@HomeController.GetControlTextByControlId("File");}</span></th>
                                    <td><a target="_blank" id="FileCommunity" href="#"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                </tr>
    }
    catch (Exception ex)
    {

    }
                        </table>

                        <table class="table table-bordered" id="tblMemberDetails">
                            <thead>
                                <tr>
                                    <th>@{@HomeController.GetControlTextByControlId("Member");}</th>
                                    <th>@{@HomeController.GetControlTextByControlId("From");}</th>
                                    <th>@{@HomeController.GetControlTextByControlId("To");}</th>
                                    <th>@{@HomeController.GetControlTextByControlId("Roles");}</th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal" action="/Institution/InstitutionCreatedList" method="post" id="InstitutiionForm" enctype="multipart/form-data">
    @*<ul class="breadcrumb" style="margin-top:80px;">
            <li class="pull-right"><a style="font-size: 25px; color:#2a6496;" class="fa fa-chevron-circle-left" href="/Home/Admin"></a></li>
        </ul>*@
    <div class="page-content-wrap" style="margin-top:100px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 jss_c">
                                    <ul style="display:none" class="nav nav-tabs" id="myTab">
                                        <li class="active"><a data-toggle="tab" href="#Generalate" class="sis_tab_a click"><span>@{@HomeController.GetControlTextByControlId("Official_Meeting");}</span></a></li>
                                    </ul>
                                    <div class="tab-content tab_sis">
                                        <div id="Generalate" class="tab-pane fade in active">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-primary">
                                                        @*<div class="panel-heading" style="background-color:#29b2e1"><span>Legal Status</span></div>*@
                                                        <div class="panel-body" style="height:auto;">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="box box-info">

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-5">
                                                                                    <ol class="breadcrumb" role="navigation" style="background-color:#ffffff !important"><li class="breadcrumb-item active"></li></ol>
                                                                                </div>
                                                                                <div class="col-md-7">
                                                                                    <input type="text" id="SearchTxt" class="o_searchview_input" accesskey="Q" placeholder=@HomeController.GetControlTextByControlId("Search") role="" aria-haspopup="true" aria-keyshortcuts="Alt+Shift+Q">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-5">
                                                                                    <div class="o_list_buttons" role="toolbar" aria-label="Main actions">
                                                                                        <button type="button" class="btn btn-primary o_list_button_save" accesskey="s" aria-keyshortcuts="Alt+Shift+s" style="display:none">

                                                                                            <i class="d-inline d-sm-none fa fa-floppy-o" title="Save"></i>
                                                                                            <span class="d-none d-sm-inline">Save</span>

                                                                                        </button>
                                                                                        <button type="button" class="btn btn-secondary o_list_button_discard" accesskey="j" aria-keyshortcuts="Alt+Shift+j" style="display:none">

                                                                                            <i class="d-inline d-sm-none fa fa-times" title="Discard"></i>
                                                                                            <span class="d-none d-sm-inline">Discard</span>

                                                                                        </button>

                                                                                        @{
                                                                                            var ispermissioncreate = viewpermissions.Where(x => x.Createpermission == true && x.PageName == "Community").FirstOrDefault();
                                                                                            if (ispermissioncreate != null)
                                                                                            {
                                                                                                <button type="button" class="btn btn-primary o_list_button_add" accesskey="c" data-original-title="" title="" aria-keyshortcuts="Alt+Shift+c" style="position: relative;" >
                                                                                                <a href="/Community/Create" class="CreateButton"><i class="d-inline d-sm-none fa fa-plus" title="Create"></i><span class="d-none d-sm-inline">@{@HomeController.GetControlTextByControlId("Create"); }</span></a>
                                                                                                </button>
                                                                                            }
                                                                                           
                                                                                        }



                                                                                        <button type="button" class="btn btn-secondary o_button_import" accesskey="I" aria-keyshortcuts="Alt+Shift+I" style="position: relative;">
                                                                                            @HomeController.GetControlTextByControlId("Import")
                                                                                        </button>




                                                                                        <button type="button" class="btn btn-secondary fa fa-download o_list_export_xlsx" title="Export All" accesskey="X" aria-keyshortcuts="Alt+Shift+X" style="position: relative;"></button>

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-7">
                                                                                    <div class="col-md-6" style="text-align:left">
                                                                                        <div class="dropdown">
                                                                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                                                <span class="fa fa-filter"></span>
                                                                                                @{@HomeController.GetControlTextByControlId("Filters"); }
                                                                                                <span class="caret"></span>
                                                                                            </button>
                                                                                            <ul class="dropdown-menu">
                                                                                                <li id="ActiveBtn_CSS" style="background-color: #29b2e1; Cursor:pointer !important; Text-Decoration: None !important;"><a style="color:white" id="ActiveBtn" href"">Active</a></li>
                                                                                                <li id="ArchieveBtn_CSS" style="Cursor:pointer !important; Text-Decoration: None !important;"><a id="ArchieveBtn" href"">Archived</a></li>
                                                                                                <li style="display:none"><input type="hidden" id="filterData" value="" /></li>
                                                                                                <li><a href="#" class="dropdown-item">Add Custom Filter</a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        @*<div class="dropdown">
                                                                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                                                <span class="fa fa-bars"></span>
                                                                                                @{@HomeController.GetControlTextByControlId("Group By"); }
                                                                                            <span class="caret"></span>
                                                                                            </button>
                                                                                            <ul class="dropdown-menu">
                                                                                                <li><a href="#">Congregation</a></li>
                                                                                                <li><a href="#">Type of Institute</a></li>
                                                                                                <li><a href="#">Stablishment Year</a></li>
                                                                                                <li><a href="#" class="dropdown-item">Add Custom Group</a></li>
                                                                                            </ul>
                                                                                        </div>

                                                                                        <div class="dropdown">
                                                                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                                                <span class="fa fa-star"></span>
                                                                                                @{@HomeController.GetControlTextByControlId("Favorites"); } 
                                                                                                <span class="caret"></span>
                                                                                            </button>
                                                                                            <ul class="dropdown-menu">
                                                                                                <li><a href="#">Save Current Search</a></li>
                                                                                            </ul>
                                                                                        </div>*@
                                                                                    </div>
                                                                                    <div class="col-md-3" style="text-align:right">
                                                                                        <div class="o_pager">
                                                                                            <span class="o_pager_counter">
                                                                                                <span class="o_pager_value"><input id="StartingId" class="numberonly" value="1" style="width:15%; border:none;" />-   <input id="LastId" class="numberonly" value="10" style="width:20%; border:none" /></span> / <span class="o_pager_limit" id="totalcount">@ViewBag.allinstitution.Count</span>
                                                                                            </span>
                                                                                            @*<span class="btn-group" aria-atomic="true">*@
                                                                                            <button type="button" id="previousData"><</button>
                                                                                            <button type="button" id="nextData">></button>
                                                                                            @*</span>*@
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3" style="text-align:right">
                                                                                        <button type="button" accesskey="l" class="btn btn-secondary fa fa-lg fa-list-ul o_cp_switch_list  active" aria-label="View list" data-view-type="list" title="" tabindex="-1" data-original-title="View list" aria-keyshortcuts="Alt+Shift+l" style="position: relative;"></button>
                                                                                        <button type="button" class="btn btn-secondary fa fa-lg fa-bar-chart o_cp_switch_graph " aria-label="View graph" data-view-type="graph" title="" tabindex="-1" data-original-title="View graph"></button>
                                                                                        <button type="button" class="btn btn-secondary fa fa-lg fa-table o_cp_switch_pivot " aria-label="View pivot" data-view-type="pivot" title="" tabindex="-1" data-original-title="View pivot"></button>
                                                                                        <span><a style="font-size: 25px; color:#3e8dd1;" class="fa fa-chevron-circle-left" href="/Home/Admin" id="circileimage"></a></span>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <br />
                                                                        </div>
                                                                        <div class="row">
                                                                            <div id="mySidenav" class="sidenav" style="">
                                                                                <div style="border-style:solid">
                                                                                    <div class="row notdivhide">
                                                                                        <div class="col-md-12">
                                                                                            <div class="col-md-1">
                                                                                                <input type="checkbox" checked id="checkbox-grid-1" class="notdivhide">
                                                                                            </div>
                                                                                            <div class="col-md-9">
                                                                                                @{@HomeController.GetControlTextByControlId("Sr No");}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row notdivhide">
                                                                                        <div class="col-md-12">
                                                                                            <div class="col-md-1">
                                                                                                <input type="checkbox" checked id="checkbox-grid-2" class="notdivhide">
                                                                                            </div>
                                                                                            <div class="col-md-9">
                                                                                                @{@HomeController.GetControlTextByControlId("Phone");}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row notdivhide">
                                                                                        <div class="col-md-12">
                                                                                            <div class="col-md-1">
                                                                                                <input type="checkbox" checked id="checkbox-grid-3" class="notdivhide">
                                                                                            </div>
                                                                                            <div class="col-md-9">
                                                                                                @{@HomeController.GetControlTextByControlId("Active/Inactive");}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div id="PartialTable"></div>
                                                                                <div id="statiscs" style="display:none">
                                                                                    <!-- Modal -->



                                                                                </div>
                                                                                <div class="modal fade" id="CommunityList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                                                    <div class="modal-dialog" role="document">
                                                                                        <div class="modal-content" style="width:840px">
                                                                                            <div class="modal-header">
                                                                                                <h5 class="modal-title" id="exampleModalLongTitle">Members List</h5>
                                                                                                <div id="listCommunity">

                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                ...
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                                <button type="button" class="btn btn-primary exportExcelAge">Export to excel</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@section Scripts{
    <script src="~/Content/multiple-select.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            GetGrid();
            GetStatics();
            $("#checkedAll").change(function () {
                if (this.checked) {
                    $(".checkSingle").each(function () {
                        this.checked = true;
                    });
                } else {
                    $(".checkSingle").each(function () {
                        this.checked = false;
                    });
                }
            });


        });
        $("#checkbox-grid-1").on('click', function () {
            if ($('input#checkbox-grid-1').prop('checked')) {
                $(".hide-1").show();
            }
            else {
                $(".hide-1").hide();
            }
        });
        $("#checkbox-grid-2").on('click', function () {
            if ($('input#checkbox-grid-2').prop('checked')) {
                $(".hide-2").show();
            }
            else {
                $(".hide-2").hide();
            }
        });
        $("#checkbox-grid-3").on('click', function () {
            if ($('input#checkbox-grid-3').prop('checked')) {
                $(".hide-3").show();
            }
            else {
                $(".hide-3").hide();
            }
        });


        $("#circleimage").mouseover(function () {
            $("#circleimage").text("Back");
        });
        $("#circleimage").mouseout(function () {
            $("#circleimage").text("");
        });

        $('.numberonly').keypress(function (e) {

            var charCode = (e.which) ? e.which : event.keyCode

            if (String.fromCharCode(charCode).match(/[^0-9]/g))

                return false;

        });
        $("#StartingId").on('focusout', function () {
            var firstItem = $("#StartingId").val();
            var lastItem = $("#LastId").val();
            if (firstItem != '' && lastItem != '') {
                GetGrid();
            }
        });

        $("#LastId").on('focusout', function () {
            var firstItem = $("#StartingId").val();
            var lastItem = $("#LastId").val();
            if (firstItem != '' && lastItem != '') {
                GetGrid();
            }
        });
        $("#SearchTxt").on('input', function () {
            GetGrid();
        });

        $("#ArchieveBtn").on('click', function () {
            $("#ArchieveBtn").css('color', 'white');
            $("#ActiveBtn").css('color', 'black');
            $("#ArchieveBtn_CSS").css('background-color', '#29b2e1');
            $("#ActiveBtn_CSS").css('background-color', 'white');
            $('#filterData').val('archieve');
            $("#example").show();
            $("#statiscs").hide();
            $("#MembersViewList").hide();
            $("#formation").hide();
            $(".o_list_button_add").show();
            GetGrid();
        });
        $("#ActiveBtn").on('click', function () {
            $("#ActiveBtn").css('color', 'white');
            $("#ArchieveBtn").css('color', 'black');
            $("#ActiveBtn_CSS").css('background-color', '#29b2e1');
            $("#ArchieveBtn_CSS").css('background-color', 'white');
            $('#filterData').val('');
            $("#example").show();
            $("#statiscs").hide();
            $("#MembersViewList").hide();
            $("#formation").hide();
            $(".o_list_button_add").show();
            GetGrid();
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            var ListType = "4";
            var checkedlist = '';
            $('input[class=notdivhide]').each(function () {
                var sThisVal = (this.checked ? $(this).val() : "");
                if (sThisVal == 'on') {
                    checkedlist += $(this).attr("id").replace('checkbox-grid-', '') + ',';
                }
            });
            //alert(checkedlist);
            var ListData = checkedlist.replace(/,\s*$/, "");
            jQuery.ajax({
                url: '/Member/SetDynamicColumn',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ ListType: ListType, ListData: ListData }),
                success: function (result) {

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
        //$('body').click(function (evt) {
        //    if (evt.target.id == "mySidenav")
        //        return;
        //    else if (evt.target.className == "notdivhide") {
        //        return;
        //    }

        //    else {
        //        closeNav();
        //        return;
        //    }
        //    //For descendants of menu_content being clicked, remove this check if you do not want to put constraint on descendants.
        //    if ($(evt.target).closest('#menu_content').length)
        //        return;

        //    //Do processing of click event here for every element except with id menu_content

        //});
        $('body').click(function (evt) {
            //alert(evt.target.id);
            if (evt.target.id == "mySidenav")
                return;
            else if (evt.target.className == "notdivhide" || evt.target.className == "notdivhide2") {
                return;
            }

            else if (document.getElementById("mySidenav").style.width == '250px') {
                closeNav();
                return;
            }
            else if (evt.target.id == "ExportGrid") {
                //$('#mySidenav_Dynamic2').toggle();
                //closeNavExp();
                return;
            }
            else if (document.getElementById("mySidenav_Dynamic2").style.width == '250px') {
                //$('#mySidenav_Dynamic2').toggle();
                closeNavExp();
                return;
            }
            else {
                //closeNav();
                return;
            }
            //For descendants of menu_content being clicked, remove this check if you do not want to put constraint on descendants.
            if ($(evt.target).closest('#menu_content').length)
                return;

            //Do processing of click event here for every element except with id menu_content

        });
        $(".o_cp_switch_graph").on('click', function () {
            $("#example").hide();
            $("#statiscs").show();
            $("#MembersViewList").hide();
            $("#formation").show();
            $(".o_list_button_add").hide();
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
        });
        $(".o_cp_switch_list").on('click', function () {
            $("#example").show();
            $("#statiscs").hide();
            $("#MembersViewList").hide();
            $("#formation").hide();
            $(".o_list_button_add").show();
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
        });
        $("#previousData").on('click', function () {
            var firstItem = $("#StartingId").val();
            var lastItem = $("#LastId").val();

            if (firstItem != 1) {
                $("#StartingId").val(firstItem * 1 - 10);
                $("#LastId").val(lastItem * 1 - 10);
                GetGrid();
            }

        });
        $("#nextData").on('click', function () {
            var firstItem = $("#StartingId").val();
            var lastItem = $("#LastId").val();
            //alert(lastItem);
            var totalcount = $("#totalcount").text();
            if (parseInt(lastItem) <= parseInt(totalcount)) {
                $("#StartingId").val(parseInt(firstItem) + 10);
                $("#LastId").val(parseInt(lastItem) + 10);
                //alert($("#LastId").val());
                GetGrid();
            }

        });
        function GetStatics(fromAge = '', toAge = '', fromation = '', GroupByData = '') {
            jQuery.ajax({
                url: '/Community/GetStatisticCommunity',
                type: "POST",
                contentType: "application/json; charset=utf-8",

                success: function (result) {
                    $("#statiscs").empty();
                    $("#statiscs").html(result);
                    $("#spinner-border").hide();
                },
                error: function (err) {
                    alert(err.statusText);
                    $("#spinner-border").hide();
                }
            });
        }
        function GetGrid(e = "") {
            var firstItem = $("#StartingId").val();
            var lastItem = $("#LastId").val();
            var SearchTxt = $("#SearchTxt").val();
            var archieve = $('#filterData').val();
            //if (e != "") {
            //    archieve = "archieve";
            //}
            //alert(lastItem);
            jQuery.ajax({
                url: '/Community/GetGrid',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ name: 'Deep', firstItem: firstItem, lastItem: lastItem, SearchTxt: SearchTxt, Archieve: archieve }),
                success: function (result) {

                    $("#PartialTable").empty();
                    $("#PartialTable").html(result);
                    //alert($('#DynamicTotalCount').val());
                    $('#totalcount').html($('#DynamicTotalCount').val());
                    //$('#example').DataTable({
                    //    dom: 'Bfrtip',
                    //    buttons: [
                    //        'columnsToggle'
                    //    ],
                    //    searching: false,
                    //    paging: false,
                    //    info: false,
                    //    "order": [[1, "asc"]],
                    //    'columnDefs': [{
                    //        'targets': [0, 4, 6, 7], // column index (start from 0)
                    //        'orderable': false, // set orderable false for selected columns
                    //    }]
                    //});
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }

        $(document.body).on('click', '.openCommunityModal', function () {
            var data = $(this).attr('id');
            var arr = data.split('|');
            var Province = "";
            var age = "";
            if (arr.length == 1) {
                Province = data;
            }

            jQuery.ajax({
                url: '/Community/CommunityList?Provincename=' + Province,
                type: 'POST',
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    $("#listCommunity").empty();
                    $("#listCommunity").html(result);
                    $("#CommunityList").modal('show');
                }
            });

        });

        $(document.body).on('click', '.exportExcelAge', function () {
            var province = $("#ProvinceName").val();


            window.location.href = '/Community/ExportFilterCommunityDatatoExcel?ProvinceName=' + province;
            $("#CommunityList").modal('hide');

        });


    </script>
}

<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: white;
        background-color: #29b2e1;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    .o_control_panel .breadcrumb {
        font-size: 15px;
    }

    .o_control_panel .breadcrumb, .o_control_panel .o_cp_left {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }

        .o_control_panel .breadcrumb > li {
            display: inline-block;
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
        }

    .breadcrumb-item.active {
        color: #777777;
    }

    .o_searchview_input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #3b7495 !important;
    }

    .sidenav {
        /*height: 1%;*/
        width: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            left: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    .CreateButton:hover {
        color: white;
    }

    .CreateButton {
        color: white;
    }
</style>
