@using Generalate.Controllers;
@{
    ViewBag.Title = "AgeView";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<link href="~/css/DropDownSelect2/dist/css/select2.min.css" rel="stylesheet" />




<ul class="breadcrumb" style="margin-top:80px;">
    <li class="pull-right"><a style="font-size: 25px; color:#2a6496;" class="fa fa-chevron-circle-left" href="/Home/Admin"></a></li>
</ul>
<style>
    .Mytooltip:hover {
        margin-bottom: 500px;
        cursor: pointer;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: white;
        background-color: #29b2e1;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    table.dataTable tbody tr.selected {
        color: black !important;
        background-color: #B0BED9 !important;
    }

    .highlighted {
        background: red;
    }

    #TblCouncil tr {
        background: white;
    }

    .redCSS {
        background-color: Red;
    }

    .greenCSS {
        background-color: Green;
    }
</style>


<div class="page-content-wrap">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 jss_c">
                                <div class="row" style="display:none">

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="FromDate" readonly placeholder="@{@HomeController.GetControlTextByControlId("From Date");}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ToDate" readonly placeholder="@{@HomeController.GetControlTextByControlId("To Date");}">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-success pull-right" id="btnSearch" value="@{@HomeController.GetControlTextByControlId("Filter");}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="tblSocDiv">
                                    <table class="table table-bordered" id="TableData" style="margin-top:50px;">
                                        <thead id="TableHEad">
                                            <tr>
                                                <th>@{@HomeController.GetControlTextByControlId("Province");}</th>

                                                @{
                                                    foreach (var item in ViewBag.AgeLIst as IEnumerable<Generalate.Models.Tbl_AverageAge>)
                                                    {
                                                        <th>@item.Average_Age</th>
                                                    }
                                                }
                                                <th>@{@HomeController.GetControlTextByControlId("Total_Province");} </th>
                                                <th>@{@HomeController.GetControlTextByControlId("Average Count");}</th>
                                                @*<th>@{@HomeController.GetControlTextByControlId("Total");}</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="TableBody"></tbody>
                                    </table>
                                </div>

                                <div style="text-align:right">
                                    <button type="button" class="btn btn-success" id="BtnPrint">Print</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/printThis.js"></script>
    <script>
        $(document).ready(function () {

            debugger
            $.ajax({
                url: '@Url.Action("AverageAgeView", "Member")',                
                type: "GET",
                dataType: "json",
                ContentType: "application/json;charset=utf-8",
                success: function (result) {
                    debugger
                    $("#TableBody").append(result);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        });
    </script>
    <script>
        $("#BtnPrint").on('click', function () {
            $("#tblSocDiv").printThis();
        });
    </script>

}
