<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="domain" value="http://localhost:8089" />
    <add key="Imagephysicalpath" value="D:\Projects\Father\Generalate\Images" />
    <add key="Docphysicalpath" value="D:\Projects\Father\Generalate\Documents" />
    <add key="DatabaseName" value="Abroid_New" />
    <!--<add key="frommail" value="nanduconquer@gmail.com" />
      <add key="password" value="Ramesh@1234$" />-->
    <!-- <add key="frommail" value="arutla.gayathri9@gmail.com" />
      <add key="password" value="333gayathree" /> 
      <add key="host" value="smtp.gmail.com" />-->
    <add key="frommail" value="rajesh.techprocomp@gmail.com" />
    <add key="password" value="Rajesh@123" />
    <add key="host" value="smtp.gmail.com" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-IE" uiCulture="en-IE" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime maxRequestLength="1048576" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers />
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>

    <!--<add connectionString="Server=S92-205-17-23;Database=SGFinal;User ID=sa;Password=sg@123;MultipleActiveResultSets=True;" name="Generalate" providerName="System.Data.SqlClient" />-->
    <!--<add name="Generalate" connectionString="Data Source=92.205.17.23; Persist Security Info=True;Initial Catalog=SG; User ID=sa; Password=sg@123; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Generalate" connectionString="Data Source=92.205.17.23; Persist Security Info=True;Initial Catalog=SGFinal; User ID=sa; Password=sg@123; MultipleActiveResultSets=True;Connection Timeout=3600" providerName="System.Data.SqlClient" />-->
    <!--<add name="Generalate" connectionString="Data Source=92.205.17.23; Persist Security Info=True;Initial Catalog=SGFinal; uid=sgadmin; Password=sg@123; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Generalate" connectionString="Data Source=(local);Initial Catalog=PDDM2203;Integrated Security=True" providerName="System.Data.SqlClient" />-->
        <!--<add name="Generalate" connectionString="Data Source=(local);Initial Catalog=Diocon161023;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="Generalate" connectionString="Data Source=(local);Initial Catalog=Diocon271023;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Generalate" connectionString="Data Source=(local);Initial Catalog=FLD16302023;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="Generalate" connectionString="Data Source=(local);Initial Catalog=Diocon271023;Integrated Security=True" providerName="System.Data.SqlClient" />-->


    <!--<add name="Generalate" connectionString="Data Source=92.205.17.23;Initial Catalog=SGFinal;Persist Security Info=True; User ID=sa; Password=sg@123;" providerName="System.Data.SqlClient" />-->

    <!--connectionString="data source=server;initial catalog=db;persist security info=True;Integrated Security=SSPI;"-->




  </connectionStrings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".Bak" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".kml" mimeType="text/xml" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>