@model Generalate.Models.Societys

@{
    ViewBag.Title = "PrintMemberReport";
}

<div class="page-content-wrap">
    <div class="row" style="margin-right:-5px;margin-left:-5px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:#29b2e1">Report Information</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Horizontal Form -->
                            <div class="box box-info">
                                @*<div class="box-header with-border">
                                        <h3 class="box-title">Member Report</h3>
                                    </div>*@
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-sm-12 pull-right">
                                                <input type="button" class="btn btn-success btn-sm pull-right" value="Print" />
                                                <input type="button" class="btn btn-default btn-sm pull-right" value="Excel" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h4>Member Report Information</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <img src="~/Image/Formation/No-data-found-banner.png" class="pull-right" style="width:100px;height:100px;" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h4>Address</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h4>Official Document</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-3 control-label">Know Name:</label>
                                                            <div class="col-sm-6">
                                                                <p style="margin-top:7px;">Rajesh</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-5 control-label">Baptismal name:</label>
                                                            <div class="col-sm-7">
                                                                <p style="margin-top:7px;">Test100</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box -->
                                <!-- general form elements disabled -->
                                <!-- /.box -->
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

