
@{
    ViewBag.Title = "Profession2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/DropDownSelect2/dist/css/select2.min.css" rel="stylesheet" />

<div class="page-content-wrap">
    <div class="row" style="margin-right:-5px;margin-left:-5px;margin-top:89px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><span id="titleProf"></span></h3>
                                </div>
                                @*dropdown code*@
                                @if (HttpContext.Current.Session["UserName"].ToString() == "admin")
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label><span>Province Name</span></label>
                                                <select class="form-control" id="DioProvince1" style="width:595px !important;" name="ProvinceName"></select>
                                            </div>
                                        </div>
                                    </div>
                                    @*end dropdown code*@
                                }

                                    <div class="">
                                        @*<div class="row">
                    <div class="col-sm-10" style="text-align:right">
                        <div class="form-group">
                            <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" class="fa fa-print pull-right" id="btnPrintOrdin"></i></button>
                        </div>
                    </div>
                </div>*@
                                        <div class="row" style="margin-top: 10px;" id="tblOrdindata1">
                                            @*<div class="col-sm-12 overflow-daily" style="height:400px;">*@
                                            <div class="col-sm-12" style="height:auto;">
                                                <table class="table table-bordered" id="tblOrdindata">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Name</th>
                                                            <th>Sur Name</th>
                                                            <th>Province</th>
                                                            <th>From Date</th>
                                                            <th>To Date</th>
                                                            <th>View Profile</th>
                                                            <th>Add Profile</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    @*<tbody id="ViewOrdin"></tbody>*@
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 10px;" id="tblOrdindata2">
                                            <div class="col-sm-12">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Name</th>
                                                            <th>Sur name</th>
                                                            <th>Province</th>
                                                            <th>From Date</th>
                                                            <th>To Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="ViewOrdin1"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/multiple-select.min.js"></script>
    <script src="~/css/DropDownSelect2/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Memdatatbl2").css("display", "none");
            $("#Memdatatbl1").css("display", "none");
            $("#Insttbl1").css("display", "none");
            $("#Insttbl2").css("display", "none");
            $("#tblParishes1").css("display", "none");
            $("#tblParishes2").css("display", "none");
            $("#tblcomdata1").css("display", "none");
            $("#tblcomdata2").css("display", "none");
            $("#tblSocData1").css("display", "none");
            $("#tblSocData2").css("display", "none");
            $("#tblOrdindata2").css("display", "none");
            $("#tblRetire2").css("display", "none");
            $("#deathdatatbl2").css("display", "none");
            $("#departdatatbl2").css("display", "none");
            $("#NovPPdatatbl2").css("display", "none");
            $("#EnterToNovdatatbl2").css("display", "none");
        });

        $('#btnPrintOrdin').on("click", function () {
            $('#tblOrdindata2').printThis();
            $("#tblOrdindata2").css("display", "block");
            $("#tblOrdindata1").css("display", "none");
        });
    </script>
    <script>
        var page = '@ViewBag.Page';
        GetAllProvince();
        //GetAllOrdinViewData("0");
        GetOrdinViewData("0")
        $("#DioProvince1").on("change", function () {
            var selectedVal = $("#DioProvince1 option:selected").val();
           // GetAllOrdinViewData(selectedVal);
            GetOrdinViewData(selectedVal);
        });
        function GetOrdinViewData(province) {
            $('#titleProf').text("Perpetual Vows");
            if (page == "TemporaryVows2") {
                $('#titleProf').text("Temporary Vows");            }
            if (page == "Ordinations2") {
                $('#titleProf').text("Ordinations");
            }
            $('#tblOrdindata').DataTable().destroy();
            // $('#EnterToNovdatatbl1').DataTable().destroy();
            datatable = $('#tblOrdindata')
                .DataTable({
                    "sAjaxSource": "/Member/GetAllOrdinViewData?province=" + province+"&page="+page,
                    "retrieve": true,
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": false,
                    "order": [[1, 'asc']],
                    "autoWidth": false,
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        var oSettings = this.fnSettings();
                        $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                        return nRow;
                    },
                    "columns": [
                        {
                            "defaultContent": ""
                        },
                        {
                            "data": "Name",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                        {
                            "data": "SurName",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                         @if (HttpContext.Current.Session["UserName"].ToString() == "admin")
                         {

                        <text>
                        {
                            "data": "ProvinceName",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                        </text>
                        }
                        {
                            "data": "FromDate",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                        {
                            "data": "ToDate",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                        {
                            "data": "MemberID",
                            "autoWidth": false,
                            "width": "200px",
                            "render": function (data, type, row) {
                                if (data != null && data != '') {
                                    return '<a href=/Home/MemberDetails?id=' + data + '>View Details</a>';
                                    //return '<a href=/Member/MemberFullData1?id=' + data + '>View Details</a>';
                                }
                                else {

                                    return '<a target="_blank" href="#">No Profile</a>';
                                }
                            }
                        },
                        {
                            "data": "MemberID",
                            "autoWidth": false,
                            "width": "200px",
                            "render": function (data, type, row) {
                                if (data != null && data != '') {
                                    return '<a href=/Member/MemberInfoById?memberId=' + data + '>Add profile</a>';
                                }
                                else {

                                    return '<a target="_blank" href="#">No Profile</a>';
                                }
                            }
                        },

                    ]
                });
        }

        function GetAllOrdinViewData(province) {
            
            var _url = "/Home/GetAllOrdinViewData?province=" + province;
            $('#titleProf').text("Perpetual Vows");
            if (page == "TemporaryVows2") {
                $('#titleProf').text("Temporary Vows");
                _url = "/Home/GetAllDiaconateViewData?province=" + province;
            }
            if (page == "Ordinations2") {
                $('#titleProf').text("Ordinations");
                _url = "/Home/GetAllOrdinationsViewData?province=" + province;
            }
            //GetAllDiaconateViewData
            $.ajax({
                url: _url,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    $('#ViewOrdin').html("");
                    $('#ViewOrdin1').html("");
                    if (response != null) {
                        var i = 1;
                        var html = "";
                        var html = "";
                        response.forEach(function (data) {
                            if (data != null) {
                                var url = "";
                                var isView = "";
                                var viewProfile = "Add profile";
                                if (data.MemberId != null && data.MemberId != "") {
                                   //url = "/Member/MemberFullData1?id=" + data.MemberId
                                   url = "/Home/MemberDetails?id=" + data.MemberId;
                                    isView = "View Profile";
                                    viewProfile = "/Member/MemberInfoById?memberId=" + data.MemberId;
                                } else {
                                    url = "#";
                                    isView = "No Profile";
                                    viewProfile = "No Profile";
                                }
                                html += "<tr><td>" + i + "</td><td>" + data.Name + "</td><td>" + data.ProvinceName + "</td><td>" + data.FromDate + "</td><td>" + data.ToDate + "</td><td><a href='" + url + "'>" + isView + "</a></td> <td><a href='" + viewProfile + "'>Add Profile</a></td></tr>";
                                var row1 = "<tr><td>" + i + "</td><td>" + data.Name + "</td><td>" + data.ProvinceName + "</td><td>" + data.FromDate + "</td><td>" + data.ToDate + "</td></tr>";
                                // $('#ViewOrdin').append(row);
                                $('#ViewOrdin1').append(row1);
                                i = i + 1;
                            }
                            $('#tblOrdindata').DataTable().destroy();
                            $('#tblOrdindata').find('tbody').html('');
                            $('#tblOrdindata').find('tbody').append(html);
                            $('#tblOrdindata').DataTable().draw();
                            $("#myModal9").modal('show');
                        });
                    }
                },
                error: function (er) {
                }
            });
        }
        function GetAllProvince() {
            $.ajax({
                url: "/Home/GetAllProvince",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response2) {
                    if (response2.length > 0) {
                        var allDate2 = [];
                        var omObj2 = {};
                        $('#DioProvince1').html('').select2({ data: [{ id: '', text: '' }] });
                        allDate2.push({ id: '0', text: '-- Select Province Name --' });
                        for (var i = 0; i < response2.length; i++) {
                            allDate2.push({ id: response2[i].Id, text: response2[i].ProvinceName + " " + response2[i].Place });
                        }
                        $("#DioProvince1").html('').select2({
                            data: allDate2
                        });
                    }
                },
                error: function (er) {
                }
            });
        }
    </script>
    }
