
@{
    ViewBag.Title = "PopDetails";

}

<div class="tab-content tab_sis">
    <div id="add" class="tab-pane fade in active">
        <div class="row">
            <!-- col-sm-12 started -->

            <div class="col-sm-12">
                <!-- col-sm-12 started -->
                <h4 class="std_head well-sm jss_form"> Formation Details</h4>
                <div class="col-sm-6" style="border-right: 1px solid #eee;">


                    <!-- col-sm-6 started -->


                    <div class="form-group">
                        <label>Name Of The Socity :</label>
                        <input type="text" id="StageOfFormation" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Date :</label>
                        <input type="text" id="DateYear" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Registration Number :</label>
                        <input type="text" id="Regno" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>PAN Number :</label>
                        <input type="text" id="Regno" class="form-control">
                    </div>


                </div><!-- col-sm-6 closed -->
                <div class="col-sm-6">
                    <!-- col-sm-6 started -->
                    <div class="form-group">
                        <label>FCRA Number  : </label>
                        <input type="text" id="Place" class="form-control">

                    </div>
                    <div class="form-group">
                        <label>12 A Number: </label>
                        <input type="text" id="Superior" class="form-control">
                    </div>

                    <label>Add Socity Details: </label>
                    <button class="btn btn-success" id="AddDedatils">Add Details</button>
                </div>
            </div>
        </div>
    </div>
</div> 
