@model Generalate.Models.Tbl_ParisInstitutionDetails
@using Generalate.Controllers;

<div class="table-responsive">
    <table id="example" class="display table table-sm table-hover table-striped " style="width:100%">
        <thead>
            <tr>
                <th style="background-color:#29b2e1;color:white"><input type="checkbox" id="checkedAll" class="custom-control-input"></th>
                <th class="hide-1" style="background-color:#29b2e1;color:white"> <span>@{@HomeController.GetControlTextByControlId("Sr.No");}</span> </th>
                <th style="background-color:#29b2e1;color:white"> <span>@{@HomeController.GetControlTextByControlId("Name");}</span> </th>
                <th class="hide-2" style="background-color:#29b2e1;color:white"> <span>@{@HomeController.GetControlTextByControlId("Designation");}</span> </th>
                <th class="hide-3" style="background-color:#29b2e1;color:white"> <span>@{@HomeController.GetControlTextByControlId("Term");}</span></th>
                <th style="width:2%;background-color:#29b2e1;color:white;cursor:pointer" id="opendivdots" class="notdivhide" onclick="openNav()">...</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                var listitems = ViewBag.allinstitution;
                foreach (var item in listitems)
                {
                    string values= Convert.ToString(item);
                    var stringArray = values.Split(',');
                    
            <tr>
                <td><input type="checkbox" id="checkbox-76" class="checkSingle"></td>
                
                <td class="hide-1">@i</td>
                <td>@stringArray[0].Substring(stringArray[0].IndexOf('=') + 1)</td>
                <td class="hide-2">@stringArray[1].Substring(stringArray[1].IndexOf('=') + 1)</td>
                <td class="hide-3">@stringArray[2].Substring(stringArray[2].IndexOf('=') + 1).Trim('}')</td>
                
                <td></td>

            </tr>
                i++;
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        

    });

</script>