@model Generalate.Models.Tbl_UserLogins
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Ujjain Diocese</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="img/fevicon.png" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/css1/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>

    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <div class="login-logo">
                <img src="~/Images/diocon-logo-web.png" alt="logo" width="70" height="50" style="margin: 0 auto;display: block;" />
                <h1 style="text-align:center;font-weight:bold;color:#982f8d;margin-top:5px;">DIOCON</h1>
            </div>

            <div class="login-body">
                <div class="login-title"><strong>Welcome</strong>, Please login</div>
                <form role="form" action="#" method="POST">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                <div class="form-group">
                                    <div style="color:red;"> @Html.ValidationSummary(true)</div>
                                    <br />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        @* <input class="form-control" placeholder="Username" name="loginname" type="text" autofocus id="Username">*@
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", autocomplete = "off", placeholder = "UserName or EmailId" })
                                        @*<span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        @*<input class="form-control" placeholder="Password" name="password" type="password" value="" id="UserPassword">*@
                                        @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Password" })
                                        @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" style="background-color:#001f6b" value="Sign in">
                                </div>


                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="login-footer">
                <div class="" style="text-align:center;">
                    Copyright &copy; Ujjain Diocese
                </div>
            </div>
        </div>

    </div>

</body>
</html>



